---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import BaseHead from "../components/BaseHead.astro";
import Contact from "../components/Contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={"Taller | Triciclos Bikes León"} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black">
		<div id="fb-root"></div>
		<script
			async
			defer
			crossorigin="anonymous"
			src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v20.0"
			nonce="FfyK4dZk"></script>
		<Header />

		<Hero />
		<Services/>
		<About />
		<Contact />

		<Footer />
	</body>
</html>
