<div class="text-white w-full lg:min-h-screen" id="about">
    <div class="p-5 lg:min-h-screen grid grid-cols-1 lg:grid-cols-2">
            <div>
                <h1 class="text-3xl lg:text-5xl ">¿Quienes Somos?</h1>
                
                <div class="px-3 py-5 text-justify">
                    <p
                    class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
                >
                    Somos más que una simple agencia de bicicletas; somos tu
                    socio de confianza en el mundo del ciclismo. En nuestro
                    taller, nos apasiona mantener tu bicicleta en perfectas
                    condiciones para que disfrutes de cada pedaleo sin
                    preocupaciones. Ofrecemos una amplia gama de servicios de
                    mecánica para todo tipo de bicicletas, desde bicicletas de
                    montaña y carretera hasta bicicletas eléctricas y urbanas.
                </p>
                <p
                    class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
                >
                    Nuestro equipo de expertos mecánicos está comprometido con
                    la excelencia y la atención al detalle. Nos especializamos
                    en diagnósticos precisos y reparaciones eficientes,
                    utilizando las mejores herramientas y repuestos del mercado.
                    Ya sea que necesites un ajuste fino, una revisión completa,
                    o una reparación urgente, estamos aquí para ayudarte.
                </p>
                <p
                    class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
                >
                    Además, nos enorgullecemos de ofrecer un servicio
                    personalizado y cercano. Entendemos que cada bicicleta es
                    única, y cada ciclista tiene necesidades diferentes. Por
                    eso, nos tomamos el tiempo para conocer a nuestros clientes
                    y sus bicicletas, asegurándonos de proporcionar soluciones a
                    medida que superen sus
                </p>
                </div>
            </div>
            
            <div
                class="fb-page mx-auto"
                data-href="https://www.facebook.com/triciclosbikes?mibextid=ZbWKwL"
                data-tabs="timeline"
                data-small-header="true"
                data-adapt-container-width="false"
                data-hide-cover="false"
                data-show-facepile="true"
            >
                <blockquote
                    cite="https://www.facebook.com/triciclosbikes?mibextid=ZbWKwL"
                    class="fb-xfbml-parse-ignore"
                >
                    <a
                        href="https://www.facebook.com/triciclosbikes?mibextid=ZbWKwL"
                        >Triciclos bikes</a
                    >
                </blockquote>
            </div>
        </div>
</div>
