<div class="text-white w-full lg:min-h-screen" id="contact">
    <div class="p-5 lg:min-h-screen grid grid-cols-1 lg:grid-cols-2">
        <div>
            <h1 class="text-3xl lg:text-5xl">Contáctanos</h1>

            <div class="lg:px-3 py-5 text-justify">
                <p
                    class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
                >
                    Ven y descubre por qué somos el taller de bicicletas de
                    referencia en la comunidad. Confía en nosotros para mantener
                    tu bicicleta en las mejores condiciones, permitiéndote
                    disfrutar de una experiencia de ciclismo segura y
                    placentera. ¡Te esperamos para brindarte el mejor servicio
                    de mecánica para tu bicicleta!
                </p>
                <div class="mx-auto flex flex-col min-w-full items-center">
                    <!-- Botón de WhatsApp -->
                    <a href="https://wa.me/4771801951" target="_blank" class="text-white mx-auto my-3 bg-gray-800 hover:bg-green-600 p-3 rounded-full">
                        <i class="fab fa-whatsapp"></i>
                        477-1801-951
                    </a>
                    <!-- Botón de Facebook -->
                    <a href="https://www.facebook.com/triciclosbikes" target="_blank" class="text-white mx-auto my-3 bg-gray-800 hover:bg-blue-600 p-3 rounded-full">
                        <i class="fab fa-facebook-f"></i>
                        @triciclosbikes
                    </a>
                    <!-- Botón de Correo -->
                    <a href="mailto:abcdefghikb@gmail.com" class="text-white mx-auto my-3 bg-gray-800 hover:bg-red-600 p-3 rounded-full" title="abcdefghikb@gmail.com">
                        <i class="fas fa-envelope"></i>
                        abcdefghikb@gmail.com
                    </a>
                </div>
            </div>
        </div>

        <div>
            <a
                href="#"
                class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
                
                <div class="mx-auto rounded-lg w-full max-w-md">
                    <h2 class="text-2xl font-bold mb-4 text-center">
                        Horarios de Atención
                    </h2>
                    <ul class="space-y-2">
                        <li class="flex justify-between">
                            <span class="font-medium">Lunes</span>
                            <span>10:30 a.m. - 7:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Martes</span>
                            <span>10:30 a.m. - 7:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Miércoles</span>
                            <span>10:30 a.m. - 7:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Jueves</span>
                            <span>10:30 a.m. - 7:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Viernes</span>
                            <span>10:30 a.m. - 7:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Sábado</span>
                            <span>12:00 p.m. - 4:00 p.m.</span>
                        </li>
                        <li class="flex justify-between">
                            <span class="font-medium">Domingo</span>
                            <span class="text-red-500">CERRADO</span>
                        </li>
                    </ul>
                </div>
                <iframe class="mx-auto w-full pt-5 min-h-9"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.6018017365142!2d-101.683777528815!3d21.127359112159564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf827e4559b7%3A0x5f56eaac302bd19f!2sTaller%20de%20Bicicletas%20%22Triciclos%20Bikes%22!5e0!3m2!1ses-419!2smx!4v1717732074895!5m2!1ses-419!2smx"
                    style="border:0;"
                    allowfullscreen="true"
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </a>
        </div>
    </div>
</div>
